In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
terr = pd.read_excel('Terrorism_Data_India.xlsx', sheet_name = 'Sheet1')
terr.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197202220004,1972,2,22,NaN,0,NaT,92,India,6,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
1,197501190004,1975,1,2,NaN,0,NaT,92,India,6,...,The case is very unclear and there are many ru...,"""Leaders of India Irate at Killing: Death of A...","Dhananjay Mahapatra, ""SC: Why has LN Mishra mu...",NaN,UMD Encyclopedia of World Terrorism 2012,0,0,0,0,NaN
2,197605260001,1976,5,26,NaN,0,NaT,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
3,197709280004,1977,9,28,NaN,0,NaT,92,India,6,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
4,197901130004,1979,1,13,NaN,0,NaT,92,India,6,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN

In [15]:
removedCols = ['approxdate', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'specificity', 'vicinity', 'location', 'doubtterr', 'alternative', 'alternative_txt', 'suicide', 'gsubname','gname2', 'gsubname2', 'gname3', 'gsubname3', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperpcap', 'claim2', 'claim3', 'claimmode2', 'claimmode3', 'claimmode3_txt', 'claimmode2_txt', 'weaptype3', 'weaptype4', 'weaptype3_txt', 'weaptype4_txt', 'weapsubtype3', 'weapsubtype4', 'weapsubtype3_txt', 'weapsubtype4_txt', 'nkillus', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment']

In [21]:
terr = terr.drop(removedCols, axis = 1)

In [23]:
terr

,eventid,iyear,imonth,iday,extended,provstate,city,latitude,longitude,summary,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197202220004,1972,2,22,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
1,197501190004,1975,1,2,0,Bihar,Samastipur,25.863042,85.781004,"1/2/1975: The Indian Railway Minister, Lalit N...",...,The case is very unclear and there are many ru...,"""Leaders of India Irate at Killing: Death of A...","Dhananjay Mahapatra, ""SC: Why has LN Mishra mu...",NaN,UMD Encyclopedia of World Terrorism 2012,0,0,0,0,NaN
2,197605260001,1976,5,26,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
3,197709280004,1977,9,28,0,Maharashtra,Bombay,19.075984,72.877656,NaN,...,NaN,NaN,NaN,NaN,Hijacking DB,1,1,1,1,NaN
4,197901130004,1979,1,13,0,Assam,Unknown,26.200605,92.937574,NaN,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13924,202012300010,2020,12,30,0,Chhattisgarh,Pusnar,18.735004,81.097915,12/30/2020: An explosive device detonated whil...,...,NaN,"""Chhattisgarh: CAF jawan injured in IED blast,...","""Chhattigarh: CAF jawan injured in pressure IE...",NaN,START Primary Collection,-9,-9,0,-9,NaN
13925,202012300014,2020,12,30,0,Jammu and Kashmir,Jandi,32.429816,75.225898,12/30/2020: Assailants threw a grenade at a te...,...,NaN,"""Terrorist throws hand grenade at historic tem...","""Blast in Hiranagar triggers panic,"" Greater K...","""Grenade lobbed on temple in Hiranagar,"" Daily...",START Primary Collection,-9,-9,0,-9,NaN
13926,202012300016,2020,12,30,0,Odisha,Malakangiri,18.343513,81.882740,12/30/2020: An explosive device detonated targ...,...,NaN,"""Maoist Landmine Blast In Odisha-Chhattisgarh ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
13927,202012310005,2020,12,31,0,Jammu and Kashmir,Srinagar,34.083739,74.789903,12/31/2020: Assailants shot and killed Satpal ...,...,NaN,"""Police access CCTV footage, get leads in jewe...","""Goldsmith shot dead, CRPF officer injured in ...","""Jeweller shot dead in Srinagar,"" Daily Excels...",START Primary Collection,0,0,0,0,NaN
13928,202012310006,2020,12,31,0,Jammu and Kashmir,Sangam,33.827492,75.071263,12/31/2020: Assailants launched a grenade and ...,...,The victims included Hardayal Yadav.,"""Jeweller shot dead in Srinagar,"" Daily Excels...","""Goldsmith shot dead by militants in Srinagar,...","""CRPF officer injured in firing by militants i...",START Primary Collection,-9,-9,0,-9,NaN

In [25]:
removedCols2 = [
    "divert",
    "kidhijcountry",
    "ransom",
    "ransomamt",
    "ransomamtus",
    "ransompaid",
    "ransompaidus",
    "ransomnote",
    "hostkidoutcome",
    "hostkidoutcome_txt",
    "nreleased",
    "scite3",
    "dbsource"
]

In [27]:
terr = terr.drop(removedCols2, axis = 1)

In [29]:
terr

,eventid,iyear,imonth,iday,extended,provstate,city,latitude,longitude,summary,...,nhours,ndays,addnotes,scite1,scite2,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197202220004,1972,2,22,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN
1,197501190004,1975,1,2,0,Bihar,Samastipur,25.863042,85.781004,"1/2/1975: The Indian Railway Minister, Lalit N...",...,NaN,NaN,The case is very unclear and there are many ru...,"""Leaders of India Irate at Killing: Death of A...","Dhananjay Mahapatra, ""SC: Why has LN Mishra mu...",0,0,0,0,NaN
2,197605260001,1976,5,26,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,NaN,NaN,NaN,NaN,NaN,-9,-9,0,-9,NaN
3,197709280004,1977,9,28,0,Maharashtra,Bombay,19.075984,72.877656,NaN,...,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN
4,197901130004,1979,1,13,0,Assam,Unknown,26.200605,92.937574,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13924,202012300010,2020,12,30,0,Chhattisgarh,Pusnar,18.735004,81.097915,12/30/2020: An explosive device detonated whil...,...,NaN,NaN,NaN,"""Chhattisgarh: CAF jawan injured in IED blast,...","""Chhattigarh: CAF jawan injured in pressure IE...",-9,-9,0,-9,NaN
13925,202012300014,2020,12,30,0,Jammu and Kashmir,Jandi,32.429816,75.225898,12/30/2020: Assailants threw a grenade at a te...,...,NaN,NaN,NaN,"""Terrorist throws hand grenade at historic tem...","""Blast in Hiranagar triggers panic,"" Greater K...",-9,-9,0,-9,NaN
13926,202012300016,2020,12,30,0,Odisha,Malakangiri,18.343513,81.882740,12/30/2020: An explosive device detonated targ...,...,NaN,NaN,NaN,"""Maoist Landmine Blast In Odisha-Chhattisgarh ...",NaN,-9,-9,0,-9,NaN
13927,202012310005,2020,12,31,0,Jammu and Kashmir,Srinagar,34.083739,74.789903,12/31/2020: Assailants shot and killed Satpal ...,...,NaN,NaN,NaN,"""Police access CCTV footage, get leads in jewe...","""Goldsmith shot dead, CRPF officer injured in ...",0,0,0,0,NaN
13928,202012310006,2020,12,31,0,Jammu and Kashmir,Sangam,33.827492,75.071263,12/31/2020: Assailants launched a grenade and ...,...,NaN,NaN,The victims included Hardayal Yadav.,"""Jeweller shot dead in Srinagar,"" Daily Excels...","""Goldsmith shot dead by militants in Srinagar,...",-9,-9,0,-9,NaN

In [43]:
terr.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'provstate', 'city',
       'latitude', 'longitude', 'summary', 'crit1', 'crit2', 'crit3',
       'multiple', 'success', 'attacktype1', 'attacktype1_txt', 'attacktype2',
       'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1',
       'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1',
       'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2',
       'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt',
       'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt',
       'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'motive',
       'nperps', 'claimed', 'claimmode', 'claimmode_txt', 'compclaim',
       'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt',
       'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt',
       'weapdetail', 'nkill', 'nkillter', 'ishostkid', 'nhostkid',
       'nhostkidus', 'nhours', 'ndays', 'addnotes', 'scite1', 'scite2',
       'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object')

In [47]:
removedCols3 = ['ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays']

In [49]:
terr = terr.drop(removedCols3, axis = 1)
terr

,eventid,iyear,imonth,iday,extended,provstate,city,latitude,longitude,summary,...,nkill,nkillter,addnotes,scite1,scite2,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197202220004,1972,2,22,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,0.0,0.0,NaN,NaN,NaN,1,1,1,1,NaN
1,197501190004,1975,1,2,0,Bihar,Samastipur,25.863042,85.781004,"1/2/1975: The Indian Railway Minister, Lalit N...",...,4.0,0.0,The case is very unclear and there are many ru...,"""Leaders of India Irate at Killing: Death of A...","Dhananjay Mahapatra, ""SC: Why has LN Mishra mu...",0,0,0,0,NaN
2,197605260001,1976,5,26,0,Delhi,New Delhi,28.585836,77.153336,NaN,...,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9,NaN
3,197709280004,1977,9,28,0,Maharashtra,Bombay,19.075984,72.877656,NaN,...,0.0,0.0,NaN,NaN,NaN,1,1,1,1,NaN
4,197901130004,1979,1,13,0,Assam,Unknown,26.200605,92.937574,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13924,202012300010,2020,12,30,0,Chhattisgarh,Pusnar,18.735004,81.097915,12/30/2020: An explosive device detonated whil...,...,0.0,0.0,NaN,"""Chhattisgarh: CAF jawan injured in IED blast,...","""Chhattigarh: CAF jawan injured in pressure IE...",-9,-9,0,-9,NaN
13925,202012300014,2020,12,30,0,Jammu and Kashmir,Jandi,32.429816,75.225898,12/30/2020: Assailants threw a grenade at a te...,...,0.0,0.0,NaN,"""Terrorist throws hand grenade at historic tem...","""Blast in Hiranagar triggers panic,"" Greater K...",-9,-9,0,-9,NaN
13926,202012300016,2020,12,30,0,Odisha,Malakangiri,18.343513,81.882740,12/30/2020: An explosive device detonated targ...,...,0.0,0.0,NaN,"""Maoist Landmine Blast In Odisha-Chhattisgarh ...",NaN,-9,-9,0,-9,NaN
13927,202012310005,2020,12,31,0,Jammu and Kashmir,Srinagar,34.083739,74.789903,12/31/2020: Assailants shot and killed Satpal ...,...,1.0,0.0,NaN,"""Police access CCTV footage, get leads in jewe...","""Goldsmith shot dead, CRPF officer injured in ...",0,0,0,0,NaN
13928,202012310006,2020,12,31,0,Jammu and Kashmir,Sangam,33.827492,75.071263,12/31/2020: Assailants launched a grenade and ...,...,0.0,0.0,The victims included Hardayal Yadav.,"""Jeweller shot dead in Srinagar,"" Daily Excels...","""Goldsmith shot dead by militants in Srinagar,...",-9,-9,0,-9,NaN

In [53]:
terr.to_excel('TerrDB1.xlsx')

In [55]:
terr.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'provstate', 'city',
       'latitude', 'longitude', 'summary', 'crit1', 'crit2', 'crit3',
       'multiple', 'success', 'attacktype1', 'attacktype1_txt', 'attacktype2',
       'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1',
       'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1',
       'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2',
       'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt',
       'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt',
       'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'motive',
       'nperps', 'claimed', 'claimmode', 'claimmode_txt', 'compclaim',
       'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt',
       'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt',
       'weapdetail', 'nkill', 'nkillter', 'addnotes', 'scite1', 'scite2',
       'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object')

In [59]:
terr['success'].value_counts()

success
1    11771
0     2158
Name: count, dtype: int64

In [66]:
terr.duplicated().sum()

0